---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/jpeg" href="/favicon.jpg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Living Library</title>
	</head>
	<body>
		<h1>Living Library</h1>
	</body>
</html>
