---
import Slide from '../components/Slide.astro';
import Frame from '../components/Frame.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/jpeg" href="/favicon.jpg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Living Library</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&family=Inter:wght@100..900&display=swap"
			rel="stylesheet"
		/>
		<style>
			*, *:before, *:after { 
				box-sizing: border-box; 
			}

			:root {
				/* Font */
				--font-family: 'Inter', sans-serif;
				--font-family-serif: 'Besley', serif;
				--font: clamp(1.4rem, 3vw, 1.4rem) / 1.35 var(--font-family);

				/* Colors */
				--brand-orange: #c05700; 
				--off-white: #fbf1d9;
				--arrow-gray: #b0b0b0;
				--color-text: #111;
				--color-text-inverse: #fff;
				--color-subtext: #777;

				/* Frame */
				--frame-width: 100%;
				--frame-max-width: 100%;
				--frame-height: calc(100vh);

				/* Spacing */
				--space-1: 20px;
				--frame-border: 5px solid hsl(21deg 86% 71%);
				--frame-max-width: 393px; 
			}

			@media screen and (min-width: 500px) {
				:root {
					--frame-height: calc(100vh - 80px);
				}
			}

			html, body { 
				margin: 0; 
				padding: 0;
				height: 100%; 
			}

			body {
				background: var(--off-white);
				font: var(--font);
				position: relative;
				color: var(--color-text);
				overflow: hidden;
				display: grid;
				place-items: center;
				min-height: 100%;
			}

			@media screen and (min-width: 500px) {
				body {
					padding-top: var(--space-1);
        	padding-left: var(--space-1);
        	padding-right: var(--space-1);
        	padding-bottom: var(--space-1);
				}
			}

			.container {
				display: flex;
				width: calc(var(--frame-width) + 8px);
				min-height: 100%;
				overflow: scroll;
				scroll-snap-type: x mandatory;
				gap: 5px;
				margin: 0 0 0 -3px;
				scrollbar-width: none;
				max-width: var(--frame-max-width);
			}

			@media screen and (min-width:393px) {
				.container {
					margin: 0 auto;
					border: var(--frame-border);
				}
			}

			.container::-webkit-scrollbar { 
				display: none;  
			}

			.about-section {
				text-align: center;
				max-width: 275px;
				background-color: white;
				width: 100%;
				height: 100%;
			}

			.about-section {
				text-align: start;
				padding: 2rem;
				min-width: 100%;
				display: flex;
				flex-direction: column;
			}

			.join-a-session-section {
				text-align: start;
				padding: 2rem;
				min-width: 100%;
				display: flex;
				flex-direction: column;
			}

			.content {
				margin-top: auto;
			}

			.title {
        font-family: var(--font-family-serif), serif;
        font-size: 2.5rem; 
        color: var(--brand-orange);
        margin-bottom: 1rem;
      }
			.subtitle {
        font: var(--font);
        font-size: 1rem; 
        color: #555;
      }

			nav {
				margin-top: 2rem;
				font: var(--font);
				font-size: 0.8rem;
			}

			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				display: flex;
				flex-direction: row;
				gap: 1rem;
			}

			.gradient {
				background-image: linear-gradient(
					125deg,
					hsl(24deg 88% 45%) 1%,
					hsl(23deg 74% 52%) 39%,
					hsl(22deg 77% 57%) 47%,
					hsl(22deg 80% 62%) 50%,
					hsl(21deg 82% 66%) 51%,
					hsl(21deg 86% 71%) 51%,
					hsl(21deg 89% 75%) 50%,
					hsl(21deg 93% 80%) 49%,
					hsl(20deg 96% 84%) 49%,
					hsl(20deg 100% 88%) 50%,
					hsl(20deg 100% 92%) 53%,
					hsl(20deg 100% 96%) 61%,
					hsl(0deg 0% 100%) 99%
				);
			}
		</style>
	</head>
	<body>
		<main class="container">
			<Frame>
				<section class="about-section gradient">
					<div class="content">
						<h1 class="title">Living Library</h1>
						<p class="subtitle">A space for personal storytelling and meaningful conversations. <b>Swipe or Scroll to learn more.</b></p>
					</div>
					<nav>
						<ul>
							<li><a href="#how-it-works">How It Works</a></li>
							<li><a href="https://lu.ma/living-library">Join a Session</a></li>
							<li><a href="#get-involved">Get Involved</a></li>
						</ul>
					</nav>
				</section>
			</Frame>
			<Frame id="how-it-works">
				<Slide 
					title="How It Works"
					subtitle="Our simple process creates meaningful connections through personal storytelling."
					imageUrl="images/living_library.png"
					position="bottom"
				/>
			</Frame>
			<Frame>
				<Slide 
					title="Borrow a Living Book"
					subtitle="Choose from our diverse catalog of living books, each with a unique story to share from their lived experience."
					imageUrl="images/discovery.png"
					position="bottom"
				/>
			</Frame>
			<Frame>
				<Slide 
					title="Have a Conversation"
					subtitle="Engage in a 30-minute open dialogue in a safe, respectful environment where questions are encouraged."
					imageUrl="images/conversation.png"
					position="bottom"
				/>
			</Frame>
			<Frame>
				<Slide 
					title="Return with a Changed Perspective"
					subtitle="Walk away with new insights, challenged assumptions, and a deeper understanding of diverse experiences."
					imageUrl="images/perception.png"
					position="bottom"
				/>
			</Frame>
			<Frame>
				<section class="join-a-session-section">
					<div class="content">
						<h1 class="title">Join a Session</h1>
						<p class="subtitle">Check out our upcoming events and book a session to experience the Living Library.</p>
						<nav>
							<ul>
								<li><a href="#how-it-works">How It Works</a></li>
								<li><a href="#get-involved">Get Involved</a></li>
							</ul>
						</nav>
					</div>
				</section>
				<iframe
					src="https://lu.ma/embed/calendar/cal-GHDfTF0OIWzcDd9/events?lt=light"
					width="var(--frame-max-width)"
					frameborder="0"
					style="border: 1px solid #bfcbda88; border-radius: 4px; height: 100%;"
					allowfullscreen=""
					aria-hidden="false"
					tabindex="0"
				></iframe>
			</Frame>
			<Frame id="get-involved">
				<section class="join-a-session-section">
					<div class="content">
						<h1 class="title">Get Involved</h1>
						<p class="subtitle">Join our community and be part of the movement to build empathy through storytelling.</p>
						<nav>
							<ul>
								<li><a href="#how-it-works">How It Works</a></li>
								<li><a href="#join-a-session">Join a Session</a></li>
							</ul>
						</nav>
					</div>
				</section>
			</Frame>
		</main>
	</body>

	<script>
    document.addEventListener("click", (e) => {
			const container = document.querySelector('.container');
			if (!container) return;

      if(e.clientX > window.innerWidth / 2) {
        container.scrollLeft = container.scrollLeft + 200;
      }

      if(e.clientX < window.innerWidth / 2) {
        container.scrollLeft = container.scrollLeft - 200;
      }
    })
	</script>
</html>
