---
---

<section class="container">
  <div class="header">
    <h1 class="title">Get Involved</h1>
    <p class="subtitle">Join our community and be part of the movement to build empathy through storytelling.</p>
    <nav>
      <ul>
        <li><a href="#how-it-works">How It Works</a></li>
        <li><a href="#join-a-session">Join a Session</a></li>
      </ul>
    </nav>
  </div>
  <div class="content bottom">
    <h1 class="content-title gradient">Become a Living Book</h1>
    <p class="content-subtitle">Share your unique story and help others understand diverse perspectives and experiences.</p>
    <a href="#how-it-works">Apply Now</a>
  </div>
  <div class="socials">
    <a href="https://www.instagram.com/livinglibrarylive/" target="_blank" rel="noopener noreferrer">    <img src="/Instagram_Glyph_Gradient.svg" alt="Instagram SVG" class="social-logo"/></a>
  </div>
</section>

<style>
  .socials {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: space-between;
  }

  .container {
    text-align: start;
    padding: 2rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    
    height: 100%;
  }

  .social-logo {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }

  .title {
    font-family: var(--font-family-serif), serif;
    font-size: 2.5rem; 
    color: var(--brand-orange);
    margin-bottom: 1rem;
  }

  .subtitle {
    font: var(--font);
    font-size: 1rem; 
    color: #555;
  }

  .bottom {
    margin-top: auto;
  }

  .content {
    max-width: 100%;
    margin-bottom: 4.4rem; 
  }

  .content-title {
    font-family: var(--font-family-serif);
    font-size: 1.5rem;
    color: var(--brand-orange);
    margin-bottom: 0.75rem;
    font-weight: 700;
  }

  .content-subtitle {
    font-family: var(--font);
    font-size: 1rem;
    color: var(--color-subtext);
    line-height: 1.6;
  }

  nav {
				margin-top: 2rem;
				font: var(--font);
				font-size: 0.9rem;
			}

			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				display: flex;
				flex-direction: row;
				gap: 1rem;
			}

    a {
      color: var(--muted-orange);
      font-size: 0.9rem;
    }

  .gradient {
    background: -webkit-linear-gradient(
      155deg,
      hsl(24deg 88% 45%) 0%,
      hsl(18deg 74% 53%) 29%,
      hsl(14deg 76% 59%) 43%,
      hsl(13deg 82% 61%) 57%,
      hsl(15deg 92% 59%) 71%,
      hsl(17deg 100% 56%) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
